<!DOCTYPE html>
<html ng-app="cadastro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Pessoas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
	    
    
    <style>
        .usuario-conteudo {
            background-color: #EEE;
            padding: 20px 20px 10px 20px;
            margin-top: 30px;
        }
    </style>
</head>
<body ng-controller="PessoaController">

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand">Projeto</span>
  <a class="navbar-brand" href="home.html" ng-if="view" >Operador</a>
  <a class="navbar-brand" href="pessoa.html">Pessoas</a>
  <a class="navbar-brand" href="#" ng-controller="PessoaController" ng-click="logout()">Sair</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="usuario-conteudo" >
                <h4>Cadastro de pessoa</h4>
                <form name="formulario" ng-submit="cadastrar()">
                    <div class="form-group">
                        <label for="nome">Nome*</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome da pessoa"
                            ng-model="pessoa.nome" maxlength="100" required />
                    </div>
                    <div ng-if="!pessoa.id" class="form-group has-feedback">
                        <label for="documento">Documento*</label>
                        <input type="text" class="form-control" id="documento" placeholder="Informe o documento da pessoa"
                            ng-model="pessoa.documento" onkeypress='mascaraMutuario(this,cpfCnpj)' maxlength="17" required />
                    </div>
                    <div ng-if="false" class="form-group">
                    	<label for="login">Data nascimento*</label>
					      <div class="form-group">
					        <div class='input-group date' >
					          <input type="text" class="form-control" id="dataNascimento" 
					          	ng-model="pessoa.dataNascimento" />
					          <span class="input-group-addon">
					               <span class="glyphicon glyphicon-calendar"></span>
					          </span>
					        </div>
						</div>
                    </div>
                    <div class="form-group">
                    	<label for="nomeMae">Nome da mãe</label>
                    	<input type="text" class="form-control" id="nomeMae" placeholder="Informe o nome da mãe"
                    		ng-model="pessoa.nome_mae" maxlength="100" />
                    </div>
                    <div class="form-group">
                    	<label for="nomePai">Nome do pai</label>
                    	<input type="text" class="form-control" id="nomePai" placeholder="Informe o nome do Pai"
                    		ng-model="pessoa.nome_pai" maxlength="100" />
                    </div>
                    <div class="form-group">
                    	<label for="tipo">Tipo*</label>
                    	<select class="form-control" id="tipoPessoa" ng-model="pessoa.tipoPessoa">
                    		<option></option>
                    		<option>FISICA</option>
                    		<option>JURIDICA</option>
                    	</select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Gravar</button>
                    <button type="reset" class="btn" ng-click="cancelar()">Cancelar</button>
                </form>
                <hr>
                <h3>Lista de Pessoas</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Documento</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pessoa in pessoas">
                    	<td>{{pessoa.id}}</td>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.documento}}</td>
                        <td>{{pessoa.tipoPessoa}}</td>
                        <td>
                        	<button class="btn btn-primary" ng-click="loadPessoa(pessoa)" data-toggle="modal" data-target="#visualizar">
							  tel.
							</button>
                        	<button class="btn btn-primary" ng-click="selecionar(pessoa)">editar</button>
                        	<button class="btn btn-primary" ng-click="deletar(pessoa)">excluir</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="visualizar" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro de telefones:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      	<div class="row">
        	<div class="col-md-offset-2 col-md-8">
        		<div class="form-group">
	                <form name="formulario" ng-submit="cadastrarTelefone()">
	                    <input type="hidden" id="loginOperador" ng-model="telefone.loginOperador" />
	                    <input type="hidden" id="pessoa" ng-model="telefone.pessoa" />
	                    
	                    <div class="form-group">
	                        <label for="ddd">DDD*</label>
	                        <input type="text" class="form-control" id="ddd" placeholder="ddd do número de telefone."
	                            ng-model="telefone.ddd" maxlength="3" required />
	                    </div>
	                    <div class="form-group">
	                        <label for="numero">Número*</label>
	                        <input type="text" class="form-control" id="numero" placeholder="Número do telefone."
	                            ng-model="telefone.numero" maxlength="10" required />
	                    </div>
	                    <div class="form-group">
	                        <label for="tipoTelefone">Tipo*</label>
	                        <select class="form-control" id="tipoTelefone" ng-model="telefone.tipoTelefone">
	                    		<option></option>
	                    		<option>CELULAR</option>
	                    		<option>FIXO</option>
	                    		<option>COMERCIAL</option>
	                    	</select>
	                    </div>
	                    
	                    <button type="submit" class="btn btn-primary">Gravar</button>
                    	<button type="reset" class="btn" ng-click="cancelarTelefone()">Cancelar</button>
	             	</form>
                </div>
                
                <hr>
                <h4>Lista de Telefones</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>DDD</th>
                        <th>Numero</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="telefone in telefones">
                    	<td>{{telefone.id}}</td>
                        <td>{{telefone.ddd}}</td>
                        <td>{{telefone.numero}}</td>
                        <td>{{telefone.tipoTelefone}}</td>
                        <td>
                        	<button class="btn btn-primary" ng-click="selecionarTelefone(telefone)">editar</button>
                        	<button class="btn btn-primary" ng-click="deletarTelefone(telefone)">excluir</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                
                
      		</div>
      	</div>
      
      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/pessoa.js"></script>
<script src="js/login.js"></script>

<script type="text/javascript">
/* $(document).ready(function() {
	  $(function() {
	    $('#dataNascimento').datetimepicker({
	      useCurrent: false,
	      format: 'DD/MM/YYYY'
	    }).data("DateTimePicker").maxDate( new Date() );
	  });
	}); */
	
function mascaraMutuario(o,f){
    v_obj=o
    v_fun=f
    setTimeout('execmascara()',1)
}

function execmascara(){
    v_obj.value=v_fun(v_obj.value)
}

function cpfCnpj(v){

    v=v.replace(/\D/g,"")

    if (v.length <= 14) {

        v=v.replace(/(\d{3})(\d)/,"$1.$2")
        v=v.replace(/(\d{3})(\d)/,"$1.$2")
        v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2")

    } else {
        v=v.replace(/^(\d{2})(\d)/,"$1.$2")
        v=v.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3")
        v=v.replace(/\.(\d{3})(\d)/,".$1/$2")
        v=v.replace(/(\d{4})(\d)/,"$1-$2")
    }

    return v
}
</script>

</body>
</html>